body {
  margin: 0;
  /* padding: 0; */
}

* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* flex-direction: center; */
  /* align-items: start; */
  /* background: #272b2b; */
  /* object-fit: cover; */
  background: linear-gradient(
    90deg,
    rgba(39, 43, 43, 1) 0%,
    rgba(97, 97, 97, 1) 50%,
    rgba(43, 42, 36, 1) 100%
  );

  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow: auto;
}

.main-container {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: flex-start;
  /* border: 2px solid black; */
  border-radius: 20px;
  overflow: hidden;

  box-shadow: 5px 5px 7px 0px #00000066;

  cursor: pointer;

  transition: transform 0.3s ease-in-out;
}

.main-container:hover {
  transform: translateY(-50px);
}

.child-containter1 {
  /* border: 2px solid black; */
  height: 200px;
  width: 300px;
  background-color: aquamarine;
}

.child-containter1 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.child-containter2 {
  /* border: 2px solid black; */
  height: 200px;
  width: 300px;
  /* background-color: green; */

  padding: 20px;
  text-align: center;
  gap: 5px;
  background-color: white;
}

.child-containter2 > .describe-1 {
  font-size: 0.8rem;
  color: rgb(223, 82, 120);
  font-weight: bold;
}

.child-containter2 > .describe-2 {
  font-size: 1.5rem;
  color: rgb(18, 18, 18);
  font-weight: bold;
}

.describe-3 {
  color: grey;
  font-size: 1rem;
  margin-top: 5px;
}

.child-containter3 {
  /* border: 2px solid black; */
  height: 80px;
  width: 300px;
  background-color: rgb(223, 82, 120);
  border-radius: 0px 0px 20px 20px;

  display: flex;
  justify-content: space-between;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(226, 226, 226);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  font-size: 0.8rem;
}

.info:first-child {
  border-right: 1px solid rgb(227, 227, 227);
}

.info:last-child {
  border-left: 1px solid rgb(227, 227, 227);
}

@media screen and (max-width: 600px) {
  .wrapper {
    /* align-items: center; */

    /* flex-direction: column; */
  }
}
